.venv/
.vscode/
.pytest_cache/
/.git
node_modules/
**/__pycache__/
/renovate.json
/test.Dockerfile
/docs.Dockerfile
/.drone.yml
/appveyor.yml
/docs/_build/*
!/docs/_build/html/.git
/lib/site-packages
.env
