./vendor/cgtwq_uploader-3.6.3-py2.py3-none-any.whl
./vendor/cgtwq-3.0.0b5-py2.py3-none-any.whl
./vendor/wlf-0.6.0-py2.py3-none-any.whl
pathlib2_unicode==3.0.0
futures==3.3.0
jinja2==2.11.2
# https://github.com/sdispater/pendulum/issues/338
pendulum==1.4.2
pluggy==0.12.0
psutil==5.4.8
pyblish-lite==0.8.7
qt.py==1.1.0
six==1.15.0
win-unicode-console==0.5; sys_platform == "win32"
