https://github.com/WuLiFang/wlf/archive/0.5.0.tar.gz#egg=wlf
https://github.com/WuLiFang/uploader/archive/3.2.0.tar.gz#egg=cgtwq-uploader
https://github.com/WuLiFang/cgtwq/archive/2.4.2.tar.gz#egg=cgtwq
https://github.com/NateScarlet/pyblish-lite/archive/0.8.1.tar.gz#egg=pyblish-lite
Jinja2~=2.9
pendulum~=1.4
pyblish-base~=1.6
pluggy~=0.7