<style>
    td {
        padding: 8px;
    }
</style>
<table>
    <tr>
        <th>节点</th>
        <th>缺帧</th>
        <th>素材</th>
    </tr>
    {% for i in result %}
    <tr>
        <td>{{i.nodename | e}}</td>
        <td>
            <span style="color:red">{{i.frame_ranges | e}}</span>
        </td>
        <td>{{i.filename | e}}</td>
    </tr>
    {% endfor %}
</table>
